{% extends '::frontend.html.twig' %}

{% block article %}
    <section class="row display" role="main">
        <article class="three columns">
            <ul>
                <h3><h6><a href="{{ path("tutorial") }}">Tutorial</a></h6></h3>
                <h3><h6 style="font-style:itah3c">Documentation</h6></h3>
            </ul>
        </article>
        <article class="nine columns">
            <h1>LimTox Documentation</h1>
            <p>
                <ol class="documentation">
                    <h2 id="sources">Sources</h2>
                        <p>
                            When performing a search inside LimTox, you can select the sources where hepatotoxicity (or <a href="#toxic_endpoint">other toxic endpoint</a>) entities are searched in. You can choose amongst
                        </p>
                        <ul>
                            <li id="all">All:&nbsp;</li>Select “All” to include all type of sources described below.<br/>
                            <li id="pubmed">Pubmed:&nbsp;</li>Entities will be searched taking into account only the Pubmed Articles in the system. Nowadays we have 122.997.116 Pubmed articles indexed.<br/>
                            <li id="fulltext">FullText:&nbsp; </li>Select FullText to search into a large set of full text articles that were used for the dataset construction.<br/>
                            <li id="nda">NDA:&nbsp; </li>Search entities inside NDA articles. Currently we have 759.621 articles indexed.<br/>
                            <li id="epar">EPAR:&nbsp; </li>Search entities inside <a href="http://www.ema.europa.eu/ema/index.jsp?curl=pages/medicines/landing/epar_search.jsp" target="_blank">EPAR</a> articles. We have 630.507 EPAR articles indexed.<br/>
                            <li id="abstracts">Abstracts:&nbsp; </li>You can search compounds inside abstracts. You can also perform <a href="#free_text_searches">free-text searches</a> against abstracts</link>.<br/>
                        </ul>
                    <h2>Scores</h2>
                        <ul>
                            <li id="svm">SVM:&nbsp;</li>Support Vector Machine Score. Binary linear kernel SVM classifier score result (SVMLight).Features: word unigram, stop word filter, balanced training set. The higher the more related to the topic. If the output of the scoring function is positive then the text was classified as relevant for adverse hepatobiliary events, while if it has a negative score it was classified as non-relevant. See: <a href="http://svmlight.joachims.org" target="_blank">http://svmlight.joachims.org</a><br/>
                            <li id="svm_confidence">SVM Confidence:&nbsp;</li>Support Vector Machine confidence score. Binary linear kernel SVM classifier confidence scores (scikit-learn).Features: word 1-4grams, stop word filter, tf-idf weights, balanced training set. The higher the more related to the topic. If the output of the scoring function is positive then the text was classified as relevant for adverse hepatobiliary events, while if it has a negative score it was classified as non-relevant. (See: <a href="http://scikit-learn.org" target="_blank">http://scikit-learn.org</a> and decision_function)<br/>
                            <li id="pattern">Pattern:&nbsp;</li>Number of adverse hepatobiliary event text patterns detected<br/>
                            <li id="term">Term:&nbsp;</li>Number of adverse hepatobiliary event terms/phrases detected<br/>
                            <li id="rule">Rule:&nbsp;</li>Scores of 0.01 correspond to sentences that only mention a term or phrase related to the hepatobiliary system. Scores &gt; 0.01 correspond to sentences that also contain adverse, toxic or disease events. The rule score is a heuristic score that takes into account: (1) the number of co-occurrences between hepatobiliary terms and adverse effect terms in a sentences, (2) their respective relative order within the sentence and (3) their relative distance measured by the number of word tokens between them<br/>
                            <li id="nephro">Nephro:&nbsp;</li>Nephrotoxicity score. Binary linear kernel SVM classifier score result (SVMLight).Features: word unigram, stop word filter, balanced training set. The higher the more related to the topic. If the output of the scoring function is positive then the text was classified as relevant for adverse nephrologic events, while if it has a negative score it was classified as non-relevant. See: <a href="http://svmlight.joachims.org" target="_blank">http://svmlight.joachims.org</a><br/>
                            <li id="cardio">Cardio:&nbsp;</li>Cardiotoxicity score. Binary linear kernel SVM classifier score result (SVMLight).Features: word unigram, stop word filter, balanced training set. The higher the more related to the topic. If the output of the scoring function is positive then the text was classified as relevant for adverse cardio events, while if it has a negative score it was classified as non-relevant. See: <a href="http://svmlight.joachims.org" target="_blank">http://svmlight.joachims.org</a><br/>
                            <li id="toxicology">Toxicology:&nbsp;</li>Match found with PubMed Boolean MeSH query search for Toxicology<br/>
                            <li id="biomarker">Biomarker:&nbsp;</li>Match found with PubMed Boolean MeSH query search for Biomarker<br/>
                        </ul>
                    <h2 id="free_text_searches">Free-Text search (search by keywords)</h2>
                        <p>
                            Documents inside LimToX are indexed so free-text searches can be performed using any keyword or set of keywords. The system will return all the documents, taking into account the keyword/set of keywords, sorted by SVM Score, although resorting process can be done by using the <a href=“#sorting_by_score">Sorting by Score</a> functionality.
                        </p>
                        <ul>
                            <li id="any">Any:&nbsp;</li>A free text search will be performed against all the documents inside the system<br/>
                            <li id="with_compounds">With Compounds:&nbsp;</li>The free text search will be done inside documents that have chemical compounds comentioned in them<br/>
                            <li id="with_cyps">With CYPs:&nbsp;</li>The free text search will be done against documents that contains mentions to cytochromes<br/>
                            <li id="with_markers">With Markers:&nbsp;</li>The free text search will be done against documents that contains mentions to markers<br/>
                        </ul>
                    <h2 id="chemical_compound_searches">Chemical compounds search&nbsp;</h2>
                        <p>
                        You can search for documents containing an specific chemical compound. Typically you can search by a compound Name or using an identifier (ChemId Plus, ChEBI, cas Registry Number, DrugBank, Kegg Compound, Kegg Drug, Mesh) as well as Smiles and InChi.
                        </p>
                        <ul>
                            <li id="compound_name">Compound name:&nbsp;</li>Performs a search by compound name. A compound with that name will be searched and if it is found, a <a href=“#query_expansion">query expansion</a> will be performed to find aliases for that compound and include in the results also the documents containing compounds that are aliases of the search query compound.<br/>
                            <li id="chemical_identifiers">Chemical identifiers:&nbsp;</li>Use any of the following chemical identifiers to retrieve documents for the chemical compound having that identifier. Allowed identifiers are: ChemId Plus, ChEBI, cas Registry Number, DrugBank, Kegg Compound, Kegg Drug and Mesh<br/>
                            <li id="smiles">Smiles:&nbsp;</li>Smiles (Simplified Molecular Input Line Entry Specification) strings can be used<br/>
                            <li id="inchi">InChI:&nbsp;</li>IUPAC International Chemical Identifier strings can also be used<br/>
                            <li id="compound_any">Any(Free-text search):&nbsp;</li>Free text search against all the documents indexed inside the system (filtered by <a href="#sources">Source</a>)<br/>
                            <li id="compound_with_cyps">With CYPs:&nbsp;</li>Free-text search inside documents with Cytochrome comentions<br/>
                            <li id="compound_with_markers">With Markers:&nbsp;</li>Free-text search inside documents with Marker comentions<br/>
                            <li id="compound_term_relations">Term Relations:&nbsp;</li>Free-text search inside documents that contains compound-term relations<br/>
                        </ul>
                    <h2 id="cytochromes_searches">Cytochromes search by</h2>
                        <p>
                            You can search for Cytochromes inside the system using CYP names, CYPs Uniprot Accessions and CYPs nomenclature. Some free text searches involving CYPs are available from here too.
                        </p>
                        <ul>
                            <li id="cyp_name">CYPs name/symbol:&nbsp;</li>Search entities inside documents by Cytochrome P450 gene/protein name or symbol.<br/>
                            <li id="uniprot_accession">CYPs Uniprot Accession:&nbsp;</li>Use Cytochrome P450 gene/protein Uniprot database primary accession number<br/>
                            <li id="cyp_nomenclature">CYPs Nomenclature:&nbsp;</li>Search inside LimToX system using the name of the Cytochrome P450 gene according to the standard hierarchical gene naming nomenclature convention (see <a href=“http://www.cypalleles.ki.se” target=“_blank">http://www.cypalleles.ki.se</a>)
<br/>
                            <li id="cyp_any">Any(Free-text search):&nbsp;</li>A free text search will be performed against all the documents inside the system. It is equivalent to <a href="#free_text_searches">free-text search</a><br/>
                            <li id="cyp_with_compounds">With Compounds:&nbsp;</li>Free-text search inside documents that contain chemical compound comentions<br/>
                            <li id="cyp_compounds_relations">CYPs-Chemical Relations:&nbsp;</li>Free text search inside documents where CYPs and Chemical compounds relations have been found<br/>
                        </ul>
                    <h2 id="markers_searches">Markers search</h2>You can search for liver toxicity markers inside the LimToX sources using a marker name/symbol or a marker identifier as a query.
                        <p>
                            <li id="marker_name_symbol">Marker name/symbol</li>Name or symbol of the biochemical liver test marker. Correspond to one of 17 enzymes and chemical compounds assayed as biochemical markers of adverse liver reactions (e.g. ALT, AST, SDH, GGT, 5'-NT, LAP, SGPT,...).<br/>
                            <li id="marker_identifier">Marker Identifier</li>Marker UniProt accession number or PubChem compound Id (e.g. P00441, P04040, P07195, P07203,..)<br/>
                            <li id="marker_any">Any(Free-text search)</li>A free text search will be performed against all the documents inside the system. It is equivalent to <a href="#free_text_searches">free-text search</a><br/>
                            <li id="marker_with_compounds">With Compounds.</li> Free-text search inside documents containing Compound comentions<br/>
                            <li id="marker_compounds_relations">Marker-chemical relations. Free-text search inside documents where Markers and Chemicals are related</li>

                        </p>

                    <h2 id="genes_searches">Genes search</h2>
                        <p>
                            You can search for liver toxicity relevant genes inside the LimToX indexed documents. For that matter you can use Gene names and Entrez genes as valid queries. Searching for genes can only be performed against all the documents or against the documents that contain chemical compound comentions
                        </p>
                        <ul>
                            <li id="gene_name">Gene name:&nbsp;</li>Search by Gene name<br/>
                            <li id="entrez_gene">Entrez Gene ID:&nbsp;</li>Search by Entrez Gene ID<br/>
                        </ul>

                    <h2 id="toxic_endpoints">Search different toxic endpoints</h2>
                        <p>
                            You can search for keywords related to not only hepatotoxicity but also different toxic endpoints.
                        </p>
                        <ul>
                            <li id="hepatotoxicity">Hepatotoxicity:&nbsp;</li>Search keywords for hepatotoxicity endpoint<br/>
                            <li id="nephrotoxicity">Nephrotoxicity:&nbsp;</li>Search keywords for nephrotoxicity endpoint<br/>
                            <li id="cardiotoxicity">Cardiotoxicity:&nbsp;</li>Search keywords for cardiotoxicity endpoint<br/>
                            <li id="thyroid_toxicity">Thyroid toxicity:&nbsp;</li>Search keywords for thyrotoxicity endpoint<br/>
                            <li id="phospholipidosis">Phospholipidosis:&nbsp;</li>Search keywords for phospholipidosis endpoint<br/>
                        </ul>
                </ol>
            </p>
        </article>
    </section>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}