{% extends '::frontend.html.twig' %}

{% block article %}
    <section class="row display" role="main">
        <article class="twelve columns">
            <ul>
                <li><h6><a href="{{ path("tutorial") }}">Tutorial</a></h6></li>
                <li><h6>Documentation</h6></li>
                <li><h6>FAQs</h6></li>
                <li><h6>API</h6></li>
            </ul>

        </article>
    </section>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}