<table class="score-color-coding">
    <th>
        <td class="color" style="background-color:#FF0000">
            <span data-tooltip class="has-tip"  title="Score < -5" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#EE0000">
            <span data-tooltip class="has-tip"  title="-5 <= Score < -4" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#CC0000">
            <span data-tooltip class="has-tip"  title="-4 <= Score < -3" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#AA0000">
            <span data-tooltip class="has-tip"  title="-3 <= Score < -2" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#990000">
            <span data-tooltip class="has-tip"  title="-2 <= Score < -1" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#880000">
            <span data-tooltip class="has-tip"  title="-1 <= Score < 0" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:transparent">
            <span data-tooltip class="has-tip"  title="0 <= Score < 1" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#008800">
            <span data-tooltip class="has-tip"  title="1 <= Score < 2" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#009900">
            <span data-tooltip class="has-tip"  title="2 <= Score < 3" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#00AA00">
            <span data-tooltip class="has-tip"  title="3 <= Score < 4" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#00CC00">
        <span data-tooltip class="has-tip"  title=" 4 <= Score < 5" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
        <td class="color" style="background-color:#00EE00">
            <span data-tooltip class="has-tip"  title="5 <= Score < 6" data-options="hover_delay:5000" >
                &nbsp;
            </span></td>
        <td class="color" style="background-color:#00FF00">
            <span data-tooltip class="has-tip"  title="6<=Score" data-options="hover_delay:5000" >
                &nbsp;
            </span>
        </td>
    </th>

</table>