{% extends '::frontend.html.twig' %}

{% block article %}
    {% include 'FrontendBundle:Search_document:tags_code.html.twig' %}
    <section class="row display" role="main">
        <article class="twelve columns">
            <h6>LimTox (text mining for toxicology)</h6>
            <i class="fi-[icon]"></i>
            <p>
                <div id="mystickytooltip" class="stickytooltip">
                    <div style="padding:5px">
                        <div id="sticky1" class="atip" style="width:200px">
                            Thailand boasts some of the most <a href="http://www.google.es">popular</a> and luxurious resorts in Asia.
                        </div>
                        <div class="stickystatus"></div>
                    </div>
                </div>
                The LiMTox system is the first text mining approach that tries to extract associations between compounds and a particular toxicological end point at various levels of granularity and evidence types, all inspired by the content of toxicology reports. It integrates direct ranking of associations between compounds and hepatotoxicity through combination of heterogeneous complementary strategies from term co-mention, rules, and patterns to machine learning based text classification.  It also provides indirect associations to hepatotoxicity through the extraction of relations reflecting the effect of compounds at the level of metabolism and liver enzymes. Figure 1 provides a general overview of the LiMTox system.
            </p>
            <p>
                <h6 class="twelve columns">LimTox pipeline</h6>
                <div id="imageHome">
                    <img src="{{ asset('images/limtox_flow.png') }}" border="0" class="imageHome" />
                </div>
                <small>LimTox literature mining system flow chart. The system consists in two main components, the information retrieval pipeline and the information/relation extraction modules. The first component works at the level of articles while the second one is concerned on the identification of semantic labels and their relations at the level of individual sentences</small>
            </p>
        </article>
    </section>
    <section class="row">
    </section>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}