{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'FrontendBundle:Default:tags_code.html.twig' %}

    <div id="evidences">
        {% set entityName=entity %}
        {% set entityTypeBackup= entityType %}
        {% if entityTypeBackup=="CompoundDict" %}
            {% set entityTypeBackup="Compound" %}
        {% endif %}

        {% if entityTypeBackup=="keyword" %}
            {% set entityTypeBackup="" %}
        {% endif %}

        <h3>No {{ field | capitalize }} evidences found for {{entityTypeBackup}}s when searching {{ whatToSearch }} "{{ entityName }}" </h3>
        <div class="btmspc-dbl">
            <small>
                <em>
                    Entity mentions are highlighted as follows:
                    <mark class="compound">Compounds</mark>, <mark class="cyp">Cytochromes</mark>, <mark class="marker">Markers</mark>, <mark class="term">Terms</mark>, <mark class="specie">Species</mark>
                </em>
                . Curated evidences are indicated by:
                <a class="curated" href="#"> </a>
            </small>
        </div>

        <!-- here pagination block for Documents -->
    </div>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}