<div class="ui-widget">
    <div class="vis-break cntrtxt">
        <input id="tags" class="ui-autocomplete-input text" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">

        <a id="bigSearch" class="button orange" >Search</a>
        <a href="#" class="keywordSearch">Or search by keyword</a>

    </div>
</div>

{% set arrayReports=['epar','emea','nda','fulltext'] %}
{% set arrayCompounds=['CompoundDict','CompoundMesh','CompoundNer'] %}
<div class="show_hide">
        <form class="custom">
            <fieldset>
                <legend>Search by keyword</legend>
                    <div class="large-4 columns">
                        <input id="keywordInput" class="text" onclick="this.value=''" placeholder="type a keyword" aria-haspopup="true"  role="textbox" autocomplete="off" value="">
                        <a id="keywordSearchButton" class="button orange" >Search</a>
                    </div>
            </fieldset>
        </form>
    </div>
<div class="advanceSearch">
    <form class="custom">
        <fieldset>
            <legend>Select kind of search:</legend>
                <div class="large-4 columns">
                    {% if searchInto=="abstract" %}
                        <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="pubmedAbstracts"><span class="custom radio checked"></span> Pubmed abstracts</label>
                    {% else %}
                        <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="pubmedAbstracts"><span class="custom radio"></span> Pubmed abstracts</label>
                    {% endif %}
                    {% if searchInto=="document" %}
                        {% if kind=="sentences" %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="sentences"><span class="custom radio checked"></span> Sentences</label>
                        {% else %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="sentences"><span class="custom radio"></span> Sentences</label>
                        {% endif %}

                        {% if kind=="pubmed" %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="pubmedSentences"><span class="custom radio checked"></span> Pubmed sentences</label>
                        {% else %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="pubmedSentences"><span class="custom radio"></span> Pubmed sentences</label>
                        {% endif %}

                        {% if kind=="fulltext" %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="fulltext"><span class="custom radio checked"></span> Fulltext sentences</label>
                        {% else %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext sentences</label>
                        {% endif %}

                        {% if kind=="epar" %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="epar"><span class="custom radio checked"></span> epar</label>
                        {% else %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="epar"><span class="custom radio"></span> epar</label>
                        {% endif %}

                        {% if kind=="nda" %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" CHECKED value="nda"><span class="custom radio checked"></span> nda</label>
                        {% else %}
                            <label for="radioKind"><input name="kind" type="radio" id="radioKind" style="display:none;" value="nda"><span class="custom radio"></span> nda</label>
                        {% endif %}
                    {% endif %}
                </div>
        </fieldset>
        <fieldset>
            <legend>Select type of search:</legend>
                <div class="large-4 columns">
                    {% if entityType in arrayCompounds %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" CHECKED value="compound"><span class="custom radio checked"></span> Compounds</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="compound"><span class="custom radio"></span> Compounds</label>
                    {% endif %}

                    {% if entityType=="cyp" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="cytochrome"><span class="custom radio"></span> CYPs</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="cytochrome"><span class="custom radio"></span> CYPs</label>
                    {% endif %}
                    {% if entityType=="marker" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="marker"><span class="custom radio"></span> Markers</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="marker"><span class="custom radio"></span> Markers</label>
                    {% endif %}

                    {% if entityType=="specie" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="specie"><span class="custom radio"></span> Specie</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="specie"><span class="custom radio"></span> Specie</label>
                    {% endif %}
                    {% if entityType=="enzyme" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="enzyme"><span class="custom radio"></span> Enzyme</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="enzyme"><span class="custom radio"></span> Enzyme</label>
                    {% endif %}
                    {% if entityType=="protein" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="protein"><span class="custom radio"></span> Protein</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="protein"><span class="custom radio"></span> Protein</label>
                    {% endif %}
                    {% if entityType=="mutation" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="mutation"><span class="custom radio"></span> Mutation</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="mutation"><span class="custom radio"></span> Mutation</label>
                    {% endif %}
                    {% if entityType=="goterm" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="goterm"><span class="custom radio"></span> GO Terms</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="goterm"><span class="custom radio"></span> GO Terms</label>
                    {% endif %}
                    {% if entityType=="keyword" %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="keyword"><span class="custom radio"></span> Keywords</label>
                    {% else %}
                        <label for="radioEntityType"><input name="entityType" type="radio" id="radioEntityType" style="display:none;" value="keyword"><span class="custom radio"></span> Keywords</label>
                    {% endif %}
                </div>
        </fieldset>
    </form>
</div>