/*  Easy Grid
 *	class name .cols used for column containers
 *	class name .col used for individual columns
*/
		
.cols { margin-bottom: 20px; overflow: hidden; } 	/* main column container class */
.col, .col2, .col3, .col4, .col5 { float: left; display: inline; margin-left: 2.0%; *margin-left: 1.9%; }	
@media screen and (-webkit-min-device-pixel-ratio:0) { .col, .col2, .col3, .col4, .col5 { margin-left: 2.2%; /* Safari and Google Chrome */ } }

.cols .first, .col:first-child { margin-left: 0 !important; }

.col { width:49%; } 			/* 2 equal width columns - default */
.cols3 .col { width:32%; } 		/* 3 equal width columns */
.cols4 .col { width:23.5%; } 	/* 4 equal width columns */
.cols5 .col { width:18.4%; } 	/* 5 equal width columns */
.cols6 .col { width:15%; } 		/* 6 equal width columns */
@media screen and (-webkit-min-device-pixel-ratio:0) { .cols6 .col { width:14.9%; /* Safari and Google Chrome */ } }
		
/* double width columns */
.cols3 .col2 { width:66%; } 
.cols4 .col2 { width:49%; } 
.cols5 .col2 { width:38.8%; } 
.cols6 .col2 { width:32%; } 
		
/* triple width columns */
.cols4 .col3 { width:74.5%; } 
.cols5 .col3 { width:59.2%; } 
.cols6 .col3 { width:49%; } 
		
/* quadruple width columns */
.cols5 .col4 { width:79.6%; } 
.cols6 .col4 { width:66%; } 
		
/* quintuple width columns */
.cols6 .col5 { width:83%; } 